.APICallLoaderIndicator {
  border: 20px solid rgb(243, 243, 243);
  border-top: 20px solid rgb(0, 0, 0);
  border-radius: 100%;
  animation: spin 3s linear infinite;
  width: 150px;
  height: 150px;
}

body {
  padding: 20px 40px;
  font-family: sans-serif;
  background: rgb(255, 255, 255);
}

.buttonStyle {
  background: rgb(11, 182, 19);
  width: 350px;
  padding: 1rem;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
}

label {
  display: block;
  margin-top: 1rem;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 10px;
}

.containerForm {
  max-width: 850px;
  margin: 0 auto;
}

form {
  padding: 2em;
  background: white;
  border-radius: 1rem;
}

.form-error {
  display: none;
  color: rgb(212, 30, 30);
  font-size: 1rem;
  margin-top: 2px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
